@import '../../sass/global';

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  .modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: $modal-backdrop;
  }
  .modal {
    margin: 0 auto;
    height: auto;
    display: inline-block;
    padding: $modal-padding;
    border: $modal-border;
    opacity: 0.9;
    background-color: $modal-bg-color;
  }
  .modal-content {
    position: relative;
    &.default {
      width: $modal-default-size;
    }
    &.small {
      width: $modal-size-small;
    }
    &.medium {
      width: $modal-size-medium;
    }
    &.large {
      width: $modal-size-large;
    }
    .modal-header {
      min-height: $modal-min-header;
      border-bottom: $modal-border;
    }
    .modal-body {
      min-height: $modal-min-body;
    }
    .modal-footer {
      min-height: $modal-min-footer;
      border-top: $modal-border;
    }
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
