@import '../../sass/global';

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  .modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: $modal-backdrop;
  }
  .modal {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid gray;
    opacity: 0.9;
    .bg-white{
      background-color: $modal-bg-white;
    }
    .padding-small {
      padding: $modal-padding-small;
    }
    .padding-medium {
      padding: $modal-padding-medium;
    }
    .padding-large {
      padding: $modal-padding-large;
    }
    .default {
      width: $modal-default-size;
      height: $modal-default-size;
    }
    .small {
      width: $modal-size-small;
      height: $modal-size-small;
    }
    .medium {
      width: $modal-size-medium;
      height: $modal-size-medium;
    }
    .large {
      width: $modal-size-large;
      height: $modal-size-large;
    }
  }
  .modal-content {
    position: relative;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}