@import "../../sass/global";

.btn {

    display: flex;
    max-width: 10rem;
    max-height: 5rem;
    color: $white;
    cursor: pointer;

    &.btn-primary {
        background-color: $primary;
    }

    &.btn-dark {
        background-color: $dark;
    }
    
    &.btn-success {
        background-color: $success;
    }

    &.btn-danger {
        background-color: $danger;
    }

    &.btn-warning {
        background-color: $warning;
    }

    &.btn-info {
        background-color: $info;
    }
}

.btn-text{
    padding: $btn-text-padding;
}